.navigation{
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 550px;
  color: #ffffff;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.navigation a{
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 15px;
  color: #f0f0f0;
}

.navigation li{
  display: inline; 
}

.jumbotron{
  background-image: url(Blueprints.jpg);
  height: 400px;
  /*width: 100%;*/
  min-width: 550px;
}

.jumbotron .container {
  position: relative;
  top: 75px;
}

.jumbotron h1{
  font-size: 65px;  
  font-family: sans-serif;
  font-weight: bold;
  color: #000;
}

.jumbotron p1{
  font-size: 20px;  
  font-family: sans-serif;
  color: #000;
}

.about {
  border-bottom: : 1px solid #b4b4b4;
  font-size: 16px;
  font-family: sans-serif;
  /*width: 100%;*/
}

.tab {
  text-indent: 20px;   
}

.gallery {
    padding-bottom: 50px;
}

.news {
    padding-bottom: 50px;
}

.contact {
    padding-bottom: 50px;
}

#push,
#footer {
  height: 60px;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
}
#footer {
  background-color: #eee;
  border-top: 2px solid #dbdbdb;
}

#footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}





